h3.title {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  padding-top: 25px;
}

ul {
  margin-top:10px;
  margin-bottom:10px;

li.nomi {
  margin-left: 48%;
  font-size: 20px;
  padding-top: 15px;
}
}

.loading {
  align-items: center;
}

.loading {
  margin-left: 44%;
  margin-top: 10%;
  margin-bottom: 10%;
}
