<app-home></app-home>

<!-- <input type="text" [(ngModel)]="coloreScelto"><button (click)="cambiaBG()">Cambia</button>
<div id="contenitore-switch" [ngSwitch]="colore">
  <div *ngSwitcCase="'green'" [style] ="'background:' + colore">compare se il colore é Verde</div>
  <div *ngSwitchCase="'red'" [style] ="'background:' + colore">compare se il colore é Rosso</div>
  <div *ngSwitchCase="'blue'"[style] ="'background:' + colore">compare se il colore é Blu</div>
  <div *ngSwitchDefault style="background-color: black;">compare se il colore non é stato scelto</div>
</div> -->

<router-outlet></router-outlet>
