@import "../../../../styles/colors.scss";

input.ng-invalid.ng-touched{
  border: 1px solid red;
}

input.ng-valid.ng-touched{
  border: 1px solid rgb(7, 216, 7);
}

.colonna-dx{
  background-image: url("../../../../assets/images/image-registration-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius:  0px 25px 25px 0px;
}
.p-md-5 {
  padding: 1rem !important;
}

.btn{
  background-color: $primary-color-1 !important;
  border: none !important;
}

p.help.is-danger{
  margin-top: 10px;
  color: red;
  font-size: 12px;
  font-weight: 600;
}

.check{
  height: 50px;
  width: 70%;
  flex-direction: column;
  margin-top: 4px;
}

.mat-icon {
  -webkit-user-select: none;
  user-select: none;
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 66px;
  width: 30px;
  overflow: hidden;
}
