/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.bg-dark, header {
  background-color: #8e210b!important;
}



html, body { height: 100%; }

