/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "./styles/colors.scss";

body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.bg-red, header {
  background-color: $primary-color-1!important;
}

html, body { height: 100%; }

h2 {
  font-size: 35px !important;
  font-family: 'Homemade Apple', cursive !important;
  color: $primary-color-1!important;
};


.carousel-caption {
  top: 27rem;
  bottom: auto;

  h3 {
    font-family: "Homemade Apple", cursive;
    font-size: 40px;
    text-shadow: black 2px 3px 3px;
  }
}

.testoEvidenziato{
    background-color: yellow;
    width: 400px;
}

.btn-primary{
  background-color: $primary-color-1 !important;
  font-weight: 700;
  border: none !important;
}

.p-password, .p-inputtext{
  width: 100%!important;
  border: none!important;
  height: 20px !important;
}

.container-form .input-form .p-password {
  width: 50.5% !important;
  height: 35px !important;
  border: 1px solid #767575 !important;
  margin-left: 14% !important;
}

input.p-inputtext.p-component.p-element.ng-tns-c44-0.p-password-input {
  margin-top: 6px;
}

.p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none !important;
  border-color: #2196F3;
}

div#navbarNav {
  padding-left: 800px;
}

.mat-h3, .mat-subtitle-1, .mat-typography .mat-h3, .mat-typography .mat-subtitle-1, .mat-typography h3 {
  font: 400 16px/28px Roboto, sans-serif;
  letter-spacing: .009375em;
  margin: 0px !important;
  margin-left: 15px !important;
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-modal-header-padding);
  border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-top-right-radius: var(--bs-modal-inner-border-radius);
  background-color: $primary-color-1;

  .modal-titolo {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.009375em;
    margin: 0px !important;
    margin-left: 15px !important;
    color: white !important;
  }

  .btn-close {
    /* padding: calc(var(--bs-modal-header-padding-y) * 0.5) calc(var(--bs-modal-header-padding-x) * 0.5); */
    /* margin: calc(-0.5 * var(--bs-modal-header-padding-y)) calc(-0.5 * var(--bs-modal-header-padding-x)) calc(-0.5 * var(--bs-modal-header-padding-y)) auto; */
    font-size: 25px !important;
    margin: 0px 5px !important;
    padding: 0 !important;
  }

}

.modal-body {

  .text {
  margin: 0 0 12px !important;
  font-size: 18px !important;
  text-align: justify !important;
}

}

.modal-footer {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * 0.5);
  background-color: $primary-color-1 !important;
  border-top: var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color);
  border-bottom-right-radius: var(--bs-modal-inner-border-radius);
  border-bottom-left-radius: var(--bs-modal-inner-border-radius);

  .btn.button {
    border: 3px solid white !important;
    color: white !important;
  }
}

p.titolo-paginatore {
  font-size: 18px;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #b8614f !important;
  border-color: black !important;
  color: white !important;
}

.p-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem $primary-color-1 !important;
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
  h2 {
    font-size: 28px !important;
  };

  .carousel-caption {
    h3 {
      font-size: 28px;
    }
  }
 }



/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
