<div class="container-footer">
  <footer>
    <div class="container-flex">
      <div class="container-logo">
        <img src="../../../assets/images/icona-cibando.png" class="icona-cibando">
        <h3 class="nome-brand">Cibando</h3>
      </div>
      <div class="container-admin">
        <h3>About us</h3>
        <h5>Indirizzo: via Filippo Verdi 10, Roma</h5>
        <h5>Email: cibando@gmail.com</h5>
        <h5>Telefono: 3490000000</h5>
      </div>
      <div class="site-map">
        <h3>Site Map</h3>
        <ul class="list">
          <li class="map-item">
            <a class="map-link" routerLink="home">Home</a>
          </li>
          <li class="map-item" >
            <a class="map-link" routerLink="ricette">Ricette</a>
          </li>
          <li class="map-item" >
            <a class="map-link">Contatti</a>
          </li>
          <li class="map-item" >
            <a class="map-link">About</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>
