<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top bg-red">
    <div class="col-md-4 d-flex align-items-center colore-testo">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="mb-3 mb-md-0 text-muted ">© 2023 Company, Inc</span>
    </div>
    <img src="../assets/images/icona-cibando.png" class="icona-cibando">

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="nav-item">
        <a class="nav-link active colore-testo" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link colore-testo" href="#">Ricette</a>
      </li>
      <li class="nav-item">
        <a class="nav-link colore-testo" href="#">Contatti</a>
      </li>
      <li class="nav-item">
        <a class="nav-link colore-testo" href="#">About</a>
      </li>
    </ul>
  </footer>
</div>
